# EE 524 Machine Learning Lab: Assignment 5

- by Aikendrajit Roll no.: 206102002

K Nearest Neighbours Algorithm: Go through the resources mentioned in the slack work space. We will implement this algorithm from beginning without the help of scikit learn.

1. **Load the Data set** Download and read the iris flower data set as a csv file from here.

2. **Normalize the Data set** Once you read the csv file, try finding the minimum and maximum values of each feature. Use these values to normalize the data. What is Normalization? Use Range normalization aka minmax normalization (Dont use the inbuilt function).
3. **Distance Metric** Use the Euclidean distance metric for calculating distance between 2 arrays. Write a function that calculates the Euclidean distance between 2 input arrays. This will be later used to calculate the closeness of any test sample with rest of the records.
4. **Nearest Neighbours** Use the distance function to get the nearest neighbours for a test record. Write a function that takes in 3 inputs, the dataset, the test example and the number of neighbours (k). The output of this function will be a list of k entries in the dataset that are closest to the test record.
5. **Prediction using KNN** Write a function that takes 3 inputs, first the dataset, second a test record and third the number of neighbours. The output of this function will be to return the label of the test record using KNN.
6. **Test** Use the KNN predictor, to classify the following records:
(1). [5.1, 2.5, 3.2, 4.3]
(2). [4.9, 3, 1.4, 0.2]
(3). [6, 3, 4.8, 1.8] Take k as 5.
7. **Accuracy** Use the same KNN predictor to find the labels of the training data. Report the accuracy for each class. You can use confusion matrix to visualize the result (not necessary).
8. **Tuning** Use the KNN predictor on the dataset for different values of k. Calculate the accuracy for different values of k and see which k gives the maximum accuracy. This is known as hyperparameter tuning. Are there different ways of choosing k?

In [518]:
import math 
import numpy as np
import pandas as pd
import operator
from random import randrange

In [519]:
data = pd.read_csv("iris.csv")   #reading the csv file
data.head()                      #this will print only the first 5 rows of the dataframe

,SepalLength(Cm),SepalWidth(Cm),PetalLength(Cm),PetalWidth(Cm),Species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [520]:
data.shape               #it returns the dimension of a dataframe

(150, 5)

In [521]:
data.head(150)           #as we know the dimension of the dataframe, printing 150 rows

,SepalLength(Cm),SepalWidth(Cm),PetalLength(Cm),PetalWidth(Cm),Species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [522]:
data.keys()

Index(['SepalLength(Cm)', 'SepalWidth(Cm)', 'PetalLength(Cm)',
       'PetalWidth(Cm)', 'Species'],
      dtype='object')

In [523]:
data_min = np.min(data)
print(data_min)

SepalLength(Cm)            4.3
SepalWidth(Cm)               2
PetalLength(Cm)              1
PetalWidth(Cm)             0.1
Species            Iris-setosa
dtype: object

In [524]:
data_max = np.max(data)
print(data_max)

SepalLength(Cm)               7.9
SepalWidth(Cm)                4.4
PetalLength(Cm)               6.9
PetalWidth(Cm)                2.5
Species            Iris-virginica
dtype: object

In [525]:
# changing the strings into numbers.

Species = {'Iris-setosa': 1, 'Iris-versicolor': 2, 'Iris-virginica': 3}
#Assigning these key-value pair from above dictiionary to the iris table/ dataframe
data.Species = [Species[item] for item in data.Species]
#New data table with 'Iris-setosa' as 1, 'Iris-versicolor' as 2, 'Iris-virginica' as 3
print(data)

     SepalLength(Cm)  SepalWidth(Cm)  PetalLength(Cm)  PetalWidth(Cm)  Species
0                5.1             3.5              1.4             0.2        1
1                4.9             3.0              1.4             0.2        1
2                4.7             3.2              1.3             0.2        1
3                4.6             3.1              1.5             0.2        1
4                5.0             3.6              1.4             0.2        1
..               ...             ...              ...             ...      ...
145              6.7             3.0              5.2             2.3        3
146              6.3             2.5              5.0             1.9        3
147              6.5             3.0              5.2             2.0        3
148              6.2             3.4              5.4             2.3        3
149              5.9             3.0              5.1             1.8        3

[150 rows x 5 columns]

Normalization is defined as the process of organizing the data in the dataframe. It is used to minimize the repetition of data. In statistics, normalization refers to the creation of shifted and scaled versions of statistics, where the intention is that these normalized values allow the comparison of corresponding normalized values for different datasets in a way that eliminates the effects of certain gross influences, as in an anomaly time series. However, there are several meanings of normalization.

In [526]:
X_data = data[['SepalLength(Cm)', 'SepalWidth(Cm)', 'PetalLength(Cm)', 'PetalWidth(Cm)']]
Y_data = data["Species"]

In [527]:
X_data = X_data.apply(lambda x: (x - x.min(axis=0)) / (x.max(axis=0) - x.min(axis=0)))

In [528]:
X_data

     SepalLength(Cm)  SepalWidth(Cm)  PetalLength(Cm)  PetalWidth(Cm)
0           0.222222        0.625000         0.067797        0.041667
1           0.166667        0.416667         0.067797        0.041667
2           0.111111        0.500000         0.050847        0.041667
3           0.083333        0.458333         0.084746        0.041667
4           0.194444        0.666667         0.067797        0.041667
..               ...             ...              ...             ...
145         0.666667        0.416667         0.711864        0.916667
146         0.555556        0.208333         0.677966        0.750000
147         0.611111        0.416667         0.711864        0.791667
148         0.527778        0.583333         0.745763        0.916667
149         0.444444        0.416667         0.694915        0.708333

[150 rows x 4 columns]

In [529]:
# Function to calculate Euclidean distance between two points in x-y coordinate plane
def EuclideanDistance(x1 , y1 , x2 , y2): 
    # Calculating the distance 
    return math.sqrt(math.pow(x2 - x1, 2) + math.pow(y2 - y1, 2))

In [530]:
#for calculating Euclidean distance between two vectors in a given dataset of rows
def euclidian_distance(data1, data2, length):
    distance = 0.00      #initializing distance as zero
    for x in range(length):
        distance += np.square(data1[x] - data2[x])
    return np.sqrt(distance)

In [531]:
def k_NN(train_data, test_data, k):
    distances = {}
    sort = {}
    length = test_data.shape[1]
 
    # Calculating euclidean distance between each row of training data and test data
    for x in range(len(train_data)): 
        dist = euclidian_distance(test_data, train_data.iloc[x], length)
        distances[x] = dist[0]
    
    # Sorting them on the basis of distance
    sorted_d = sorted(distances.items(), key=operator.itemgetter(1)) #by using it we store indices also
    sorted_d1 = sorted(distances.items())

    neighbors = []    
    # Extracting top k neighbors
    for x in range(k):
        neighbors.append(sorted_d[x][0])
        counts = {"Iris-setosa": 0,"Iris-versicolor": 0,"Iris-virginica": 0}
     
    # Calculating the most freq class in the neighbors
    for x in range(len(neighbors)):
        output = train_data.iloc[neighbors[x]][-1]
        if output in counts:
            counts[output] += 1
        else:
            counts[output] = 1

    sortedVotes = sorted(counts.items(), key=operator.itemgetter(1), reverse=True)

    return(sortedVotes[0][0], neighbors)

In [532]:
#returning the label of the test record using KNN
label = k_NN(data, test1, k)

In [533]:
dataset1 = [[5.1, 2.5, 3.2, 4.3]]
test1 = pd.DataFrame(dataset1)
Class, Neighbours = k_NN(data, test1, 5)       #here k=5
print("\nThe given test set belongs to the flower class:", Class)
print("Its neighbours are:", Neighbours)

dataset2 = [[4.9, 3, 1.4, 0.2]]
test2 = pd.DataFrame(dataset2)
Class, Neighbours = k_NN(data, test2, 5)       #here k=5
print("\nThe given test set belongs to the flower class:", Class)
print("Its neighbours are:", Neighbours)

dataset3 = [[6, 3, 4.8, 1.8]]
test3 = pd.DataFrame(dataset3)
Class, Neighbours = k_NN(data, test3, 5)       #here k=5
print("\nThe given test set belongs to the flower class:", Class)
print("Its neighbours are:", Neighbours)

The given test set belongs to the flower class: 3.0
Its neighbours are: [114, 106, 121, 113, 59]

The given test set belongs to the flower class: 1.0
Its neighbours are: [1, 45, 12, 9, 34]

The given test set belongs to the flower class: 3.0
Its neighbours are: [138, 127, 70, 126, 149]

In [534]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
import numpy as np
iris = load_iris()

In [535]:
X = iris.data
Y = iris.target

In [536]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)# 70% training and 30% test

In [537]:
#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)
#Train the model using the training sets
knn.fit(X_train, y_train)
#Predict the response for test dataset
y_pred = knn.predict(X_test)
# Model Accuracy, how often is the classifier correct?
Acc = metrics.accuracy_score(y_test, y_pred)
print("\nAccuracy % is:", Acc*100)

Accuracy % is: 97.77777777777777

In [538]:
#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=3)
#Train the model using the training sets
knn.fit(X_train, y_train)
#Predict the response for test dataset
y_pred = knn.predict(X_test)
# Model Accuracy, how often is the classifier correct?
Acc = metrics.accuracy_score(y_test, y_pred)
print("\nAccuracy % is:", Acc*100)

Accuracy % is: 95.55555555555556

In [539]:
#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=8)
#Train the model using the training sets
knn.fit(X_train, y_train)
#Predict the response for test dataset
y_pred = knn.predict(X_test)
# Model Accuracy, how often is the classifier correct?
Acc = metrics.accuracy_score(y_test, y_pred)
print("\nAccuracy % is:", Acc*100)

Accuracy % is: 100.0

Here it is observed that, accuracy for k = 5 is 97.77 %

And we observe that higher the k value, higher the accuracy. However, this is not necessary for every case that an increase in many neighbours increases the accuracy of the prediction.